body {
	background: gainsboro;
}

.title {
	margin: 40px auto;
	text-align: center;
	font-size: 46px;
	color: gainsboro;
	text-shadow: 0 0 5px coral;
}

.list {
	margin: 0 auto;
	list-style: none;
}

.item {
	font-size: 36px;
	text-align: center;
	padding: 10px 10px;
	color: gainsboro;
	text-shadow: 0 0 5px coral;
}
