body {
	background: gainsboro;
}

.wrapper {
	width: 1200px;
	height: auto;
}

.title {
	margin: 40px auto;
	text-align: center;
	font-size: 46px;
	color: gainsboro;
	text-shadow: 0 0 7px rgb(90, 45, 28);
}

.text {
	font-size: 24px;
	padding: 30px 50px;
	text-align: justify;
	line-height: 1.5em;
	color: gainsboro;
	text-shadow: 0 0 5px rgb(70, 95, 29);
}

.image {
	margin: 0 auto;
	width: 600px;
	height: auto;
	img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}

.list {
	margin: 0 auto;
	list-style: none;
}

.item {
	font-size: 36px;
	text-align: center;
	padding: 10px 10px;
	color: gainsboro;
	text-shadow: 0 0 5px coral;
}
